<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <a href="/technicalUsers/logout">Logout</a>
    <h1>Hello</h1>   
    <h2><%= user.name %></h2>
    <h2><%= user.id %></h2>
 
    <ul class="list-group">
        <% for(let article of articles) {%>
            <li class="list-group-item"><a href="/technicalUsers/technicalindex/<%= article._id %>" ><%= article.title%></a></li>
        <% } %>
    </ul>

    <p>
    <a href="/technicalUsers/technicalindex/add_articles">Add articles</a>
    </p>
</body>
</html>